<table class="table">
    <tr>
        <th>id</th>
        <th>num</th>
        <th>date</th>
        <th>cvc</th>
    </tr>
    {{range .BankData}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Num}}</td>
            <td>{{.Date}}</td>
            <td>{{.Cvc}}</td>
        </tr>
    {{end}}
</table>