<table class="table">
    <tr>
        <th>id</th>
        <th>rent_id</th>
        <th>user_id</th>
        <th>total_cost</th>
        <th>payment_status</th>
    </tr>
    {{range .Cheques}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.RentId}}</td>
            <td>{{.UserId}}</td>
            <td>{{.TotalCost}}</td>
            <td>{{.PaymentStatus}}</td>
        </tr>
    {{end}}
</table>