<table class="table">
    <tr>
        <th>id</th>
        <th>machine_part</th>
        <th>description</th>
        <th>severity</th>
    </tr>
    {{range .Damages}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.MachinePart}}</td>
            <td>{{.Description}}</td>
            <td>{{.Severity}}</td>
        </tr>
    {{end}}
</table>