<table class="table">
    <tr>
        <th>id</th>
        <th>sum</th>
        <th>description</th>
    </tr>
    {{range .Fines}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Sum}}</td>
            <td>{{.Description}}</td>
        </tr>
    {{end}}
</table>