<table class="table">
    <tr>
        <th>id</th>
        <th>general_info_id</th>
        <th>transport_info_id</th>
        <th>free</th>
        <th>state_number</th>
        <th>date_add</th>
    </tr>
    {{range .Transports}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.GeneralInfoId}}</td>
            <td>{{.TransportInfoId}}</td>
            <td>{{.Free}}</td>
            <td>{{.StateNumber}}</td>
            <td>{{.DateAdd}}</td>
        </tr>
    {{end}}
</table>